In [10]:
# !pip install matplotlib
# !pip install numpy
# !pip install pandas

In [11]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlite3

In [12]:
# se crea una base de datos en SQLite llamada veterinaria.db
conn = sqlite3.connect('../DataSet/Veterinaria.db')
# Creamos un cursor para ejecutar comandos SQL
cursor = conn.cursor()

In [13]:
def Funcion_ejecutar_DDL(query_ddl, conexion=conn):
    """
    Funcion encargada de ejecutar  sentencias  de tipo DDL(Definici贸n de Datos - Define o modifica la estructura de la base de datos - CREATE, ALTER, DROP) 
    """
    cursor = conexion.cursor()
    cursor.execute(query_ddl)
    conexion.commit()
    return f"DDL ejecutado correctamente: {query_ddl}"

In [14]:
# Definimos una Funci贸n Auxiliar encargada de ejecutar consultas SQL
# Al llamar la consulta se recivira una tabla  en un DataFrame de pandas
def Funcion_ejecutar_DQL(query_dql, conexion=conn):
  """
  Funcion encargada de ejecutar  sentencias  de tipo DQL(Consulta de Datos - Recupera informaci贸n - SELECT) 
  Encargada de devuer el resultado en un dataframe de pandas 
  """
  df = pd.read_sql_query(query_dql, conexion)
  return df

In [15]:
# cursor = conn.cursor()
# cursor.execute("DROP TABLE IF EXISTS par_propietario;")
# cursor.execute("DROP TABLE IF EXISTS par_mascota;")
# conn.commit()

In [16]:
def Funcion_ejecutar_DML(query_dml, conexion=conn):
    """
    Funcion encargada de ejecutar  sentencias  de tipo DML(Manipulaci贸n de Datos - Manipula los datos dentro de las tablas - INSERT, UPDATE, DELETE) 
    """
    try:
        cursor = conexion.cursor()
        cursor.execute(query_dml)
        conexion.commit()
    except sqlite3.OperationalError as e:
        print(f" Se genera error  de ejecucion posiblemente  por que la columna ya existe {e}.")

    return f"DML ejecutado correctamente: {query_dml}"

In [ ]:
tabla_propietarios = """
                    CREATE TABLE IF NOT EXISTS par_propietario (
                            pk_propietario INTEGER PRIMARY KEY,
                            cedula TEXT NOT NULL UNIQUE,
                            nombre TEXT NOT NULL,
                            apellido TEXT NOT NULL,
                            direccion TEXT NOT NULL,
                            telefono TEXT NOT NULL,
                            fecha_creacion TEXT NOT NULL DEFAULT (datetime('now'))                    
                        );
                    """

tabla_mascotas = """
                    CREATE TABLE IF NOT EXISTS par_mascotas (
                            pk_mascota INTEGER PRIMARY KEY,
                            nombre TEXT NOT NULL,
                            especie TEXT NOT NULL,
                            raza TEXT NOT NULL,
                            fecha_creacion TEXT NOT NULL DEFAULT (datetime('now')),
                            fk_propietario INTEGER NOT NULL,
                            FOREIGN KEY (fk_propietario) REFERENCES par_propietario(pk_propietario)
                        );
                    """

tabla_epecialistas = """
                    CREATE TABLE IF NOT EXISTS par_especialista (
                            pk_esocialista INTEGER PRIMARY KEY,
                            cedula TEXT NOT NULL UNIQUE,
                            nombre TEXT NOT NULL,
                            apellido TEXT NOT NULL,
                            espcialidad TEXT NOT NULL,
                            telefono TEXT NOT NULL,
                            fecha_creacion TEXT NOT NULL DEFAULT (datetime('now'))                    
                        );
                    """


tabla_citas = """
                    CREATE TABLE IF NOT EXISTS tbl_citas (
                            pk_cita INTEGER PRIMARY KEY,
                            fk_mascota  INTEGER NOT NULL,
                            fk_especialista INTEGER NOT NULL,
                            motivo TEXT NOT NULL,
                            medicamentos_recetados TEXT,
                            fk_propietario INTEGER NOT NULL,
                            fecha_creacion TEXT NOT NULL DEFAULT (datetime('now')),
                            FOREIGN KEY (fk_mascota) REFERENCES par_mascotas(pk_mascota),
                            FOREIGN KEY (fk_especialista) REFERENCES par_especialista(pk_esocialista),
                            FOREIGN KEY (fk_propietario) REFERENCES par_propietario(pk_propietario)
                        );
                    """

Ejecutar funciones de tipo DDL

In [18]:
# Crear tabla de propietarios y mascotas
Funcion_ejecutar_DDL(tabla_propietarios)
Funcion_ejecutar_DDL(tabla_mascotas)

"DDL ejecutado correctamente: \n                    CREATE TABLE IF NOT EXISTS par_mascotas (\n                            pk_mascota INTEGER PRIMARY KEY,\n                            nombre TEXT NOT NULL,\n                            especie TEXT NOT NULL,\n                            raza TEXT NOT NULL,\n                            fecha_creacion TEXT NOT NULL DEFAULT (datetime('now')),\n                            fk_propietario INTEGER NOT NULL,\n                            FOREIGN KEY (fk_propietario) REFERENCES par_propietario(pk_propietario)\n                        );\n                    "

In [19]:
# insetar_

Ejecutar funciones de tipo DQL

In [20]:
df = Funcion_ejecutar_DQL("SELECT * from par_propietario;")
display(df)

Empty DataFrame
Columns: [pk_propietario, cedula, nombre, apellido, direccion, telefono, fecha_creacion]
Index: []

In [21]:
df = Funcion_ejecutar_DQL("SELECT * from par_mascotas;")
display(df)

Empty DataFrame
Columns: [pk_mascota, nombre, especie, raza, fecha_creacion, fk_propietario]
Index: []